{% set hasDataAttrs = checkbox.dataAttrs is defined and checkbox.dataAttrs is not empty %}
{% set checkboxVariant = checkbox.variant | default('osg-v-default') %}
{% set checkboxModifiers = checkbox.modifiers | default(null) %}

<label class="osg-checkbox {{ checkboxVariant  }} {{ checkboxModifiers }}">
  <input type="checkbox"
    {% if hasDataAttrs %}
      {% for dataAttr in checkbox.dataAttrs %}
        {{ dataAttr.key }}={{ dataAttr.val }}
      {% endfor %}
    {% endif %}
  >
  <span>{{ checkbox.text }}</span>
  <span class="osg-checkbox__checkmark"></span>
</label>
