{% set menuListModifiers = menuList.modifiers | default(null) %}
{% set menuListButtonHasDataattrs = menuList.dataattrs is defined and menuList.dataattrs is not empty %}

<div class="osg-menu-list {{ menuListModifiers }}">
  <ul>
    <li>
      <h3 class="osg-menu-list__button-header">
        <button
          {% if menuListButtonHasDataattrs %}
            {% for dataattr in menuList.dataattrs %}
              {{ dataattr.key }}="{{ dataattr.val }}"
            {% endfor %}
          {% endif %}
        >{{ menuList.header }}</button>
      </h3>
      <h3 class="osg-menu-list__header">{{ menuList.header }}</h3>
      <ul class="osg-menu-list__content">
        {% for iconLink in menuList.items %}
          <li>
            {% include 'molecules/data_display/icon_link/icon_link.twig' with iconLink %}
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
