<div class="osg-alert {{ alert.variant }} {{ alert.modifiers | default(null) }} osg-bg-{{ alert.bgColor | default('green-dark') }} osg-text-{{ alert.textColor | default('green') }}">
  {% block head %}
    <div class="head">
      <div class="message">{{ alert.message | default(null) }}</div>
      <div class="updated">
        {% if alert.updated is defined %}
          {{ alert.updated.text | default(null) }}
          {{ alert.updated.date | default(null) }}
        {% endif %}
      </div>
    </div>
  {% endblock %}
  {% block body %}
    {% if alert.content is defined %}
      <div class="osg-content">
        {{ alert.content | raw }}
      </div>
    {% endif %}
  {% endblock %}
  {% block footer %}
  {% endblock %}
</div>
