{% set hasStateText = card.stateText is defined and card.stateText is not empty %}
{% set hasTags = tags is defined and tags is not empty %}
{% set hasSearchResult = card.searchResult is defined and card.searchResult is not empty %}

<div class="osg-card {{ card.variant | default('osg-v-default')  }} {{ card.modifiers | default(null) }}">
  <a class="osg-wrapper" href="{{ card.url }}" title="{{ figure.img.alt }}">
    <div class="osg-image-container">
      {% include "atoms/decorators/figure/figure.twig" %}
      {% if hasStateText %}
        <div class="osg-state-text">{{ card.stateText }}</div>
      {% endif %}
    </div>
  </a>
  {% embed 'molecules/content_display/content_box/content_box.twig' %}
    {% block head %}
      <a class="osg-wrapper" href="{{ card.url }}">
        {{ parent() }}
      </a>
    {% endblock %}
    {% block body %}
      <a class="osg-wrapper" href="{{ card.url }}">
        {{ parent() }}
      </a>
    {% endblock %}
    {% block footer %}
      {{ parent() }}
      {% if hasTags %}
        {% include 'molecules/navigation/tags/tags.twig' %}
      {% endif %}
      {% if hasSearchResult %}
        <a href="{{ card.url }}" class="osg-search-result">
          {{ card.searchResult | default(null) }}
        </a>
      {% endif %}
    {% endblock %}
  {% endembed %}
</div>
