{% set hasStateText = card.stateText is defined and card.stateText is not empty %}
{% set hasCardUrl = card.url is defined and card.url is not empty %}
{% set cardVariant = card.variant | default('osg-v-default') %}
{% set cardModifiers = card.modifiers | default(null) %}

{% set cardContent %}
   {% block content %}{% endblock %}
{% endset %}
{% set extraContent %}
  {% block extraContent %}{% endblock %}
{% endset %}

<div class="osg-card {{ cardVariant }} {{ cardModifiers }}">
  {% if hasCardUrl %}
    <a href="{{ card.url }}" title="{{ figure.img.alt }}" class="osg-card__wrapper">
  {% else %}
    <div class="osg-card__wrapper">
  {% endif %} 
    <div class="osg-card__image-container">
      {% include 'atoms/decorators/figure/figure.twig' %}
      {% if hasStateText %}
        <div class="osg-card__state-text">{{ card.stateText }}</div>
      {% endif %}
    </div>
    {% embed 'molecules/content_display/content_box/content_box.twig' %}
      {% block content %}
        {{ cardContent }}
      {% endblock %}
    {% endembed %}
  {% if hasCardUrl %}
    </a>
  {% else %}
    </div>
  {% endif %}
  <div class="osg-card__extra-content">
    {{ extraContent }}
  </div>
</div>
