{% set modifiers = searchField.modifiers | default(null) %}
{% set searchFieldValue = searchField.value | default(null) %}

<div class="osg-searchfield {{ modifiers }}">
  <input
    class="osg-searchfield__input osg-u-text-5 osg-form-component"
    id="{{searchField.id}}"
    name="{{searchField.name}}"
    type="search"
    value="{{searchFieldValue}}"
    title="title"
    placeholder="{{searchField.placeholder}}"
    required/>
  <i class="osg-searchfield__icon osg-u-icon-magnifying-glass-small"></i>
</div>
