{% set iconLinkHasHeading = iconLink.heading is defined and iconLink.heading is not empty %}
{% set iconLinkHasText = iconLink.text is defined and iconLink.text is not empty %}
{% set iconLinkHasDataAttrs = iconLink.dataAttrs is defined and iconLink.dataAttrs is not empty %}
{% set iconLinkVariant = iconLink.variant|default('osg-v-default') %}
{% set iconLinkModifiers = iconLink.modifiers | default(null) %}
{% set iconLinkHasIcon = iconLink.icon.modifiers | default(null) %}

<div class="osg-icon-link {{ iconLinkVariant }} {{ iconLinkModifiers }}">
  <a href="{{ iconLink.url }}"
    {% if iconLinkHasDataAttrs %}
      {% for dataAttr in iconLink.dataAttrs %}
        {{dataAttr.key}}="{{dataAttr.val}}"
      {% endfor %}
    {% endif %}
    >
    {% if iconLinkHasIcon %}
      <div class="osg-icon-link__link-icon">
        {% include 'atoms/icons/icon/icon.twig' %}
      </div>
    {% endif %}
    <div class="osg-icon-link__link-text">
      {% if iconLinkHasHeading %}
        <span class="osg-icon-link__heading">
          {{ iconLink.heading }}
        </span>
      {% endif %}
      {% if iconLinkHasText %}
        <span class="osg-icon-link__description">
          {{ iconLink.text }}
        </span>
      {% endif %}
    </div>
  </a>
</div>
