{% set iconLinkHasHeading = iconLink.heading is defined and iconLink.heading is not empty %}
{% set iconLinkHasText = iconLink.text is defined and iconLink.text is not empty %}
{% set iconLinkHasDataAttrs = iconLink.dataAttrs is defined and iconLink.dataAttrs is not empty %}
{% set iconLinkVariant = iconLink.variant|default('osg-v-default') %}
{% set iconLinkModifiers = iconLink.modifiers | default(null) %}

<div class="osg-icon-link {{ iconLinkVariant }} {{ iconLinkModifiers }}">
  <a class="osg-icon-link__link" href="{{ iconLink.url }}"
    {% if iconLinkHasDataAttrs %}
      {% for dataAttr in iconLink.dataAttrs %}
        {{ dataAttr.key }}="{{ dataAttr.val }}"
      {% endfor %}
    {% endif %}
    >
    <div class="osg-icon-link__link-icon">
      {% block content %}
      {% endblock %}
    </div>
    <div class="osg-icon-link__link-text">
      {% if iconLinkHasHeading %}
        <h2 class="osg-icon-link__heading osg-u-heading-4">
          {{ iconLink.heading }}
        </h2>
      {% endif %}
      {% if iconLinkHasText %}
        <p class="osg-icon-link__description osg-u-text-5">
          {{ iconLink.text }}
        </p>
      {% endif %}
    </div>
  </a>
</div>
