{% set hasLink = toggleButton.link is defined and toggleButton.link is not empty %}
{% set hasDataattrs = toggleButton.dataattrs is defined and toggleButton.dataattrs is not empty %}
{% set hasIcon = toggleButton.icon is defined and toggleButton.icon is not empty %}

{% if hasLink %}
  <a
    href="{{ toggleButton.link }}"
    class="osg-p-toggle-button {{ toggleButton.variant | default('osg-v-default') }} {{ toggleButton.modifiers | default(null) }}"
    {% if hasDataattrs %}
      {% for dataattr in toggleButton.dataattrs %}
        {{ dataattr.key }}={{ dataattr.val }}
      {% endfor %}
    {% endif %}
  >
{% else %}
  <button
    class="osg-p-toggle-button {{ toggleButton.variant | default('osg-v-default') }} {{ toggleButton.modifiers | default(null) }}"
    {% if hasDataattrs %}
      {% for dataattr in toggleButton.dataattrs %}
        {{ dataattr.key }}={{ dataattr.val }}
      {% endfor %}
    {% endif %}
  >
{% endif %}
  {{ toggleButton.text }}
  {% if hasIcon %}
    {{ toggleButton.icon | raw }}
  {% endif %}
{% if hasLink %}
  </a>
{% else %}
  </button>
{% endif %}
