<div class="osg-story-preview {{storyPreview.variant}} {{ storyPreview.modifiers | default(null) }}">
  <div class="osg-image">
    {% include 'atoms/decorators/shape/shape.twig' %}
  </div>
  <div class="osg-text">
    {% if storyPreview.title is defined %}
      <p>{{ storyPreview.title }}</p>
    {% endif %}
    {% if ingress is defined %}
      {% include 'atoms/text/ingress/ingress.twig' %}
    {% endif %}
    {% if storyPreview.link is defined %}
      <a href="{{ storyPreview.link.url }}">
        {% include 'atoms/icons/icon/icon.twig' %}
        {{ storyPreview.link.text }}
      </a>
    {% endif %}
  </div>
</div>
