<a href="{{ storyPreview.link.url }}" class="osg-story-preview {{ storyPreview.variant | default(null) }} {{ storyPreview.modifiers | default(null) }}">
  <div class="osg-image">
    {% include 'atoms/decorators/shape/shape.twig' %}
  </div>
  {% embed 'molecules/content_display/content_box/content_box.twig' %}
    {% block head %}
      {{ parent() }}
    {% endblock %}
    {% block body %}
      {{ parent() }}
    {% endblock %}
    {% block footer %}
      <div class="osg-extra-link">
        {% include "atoms/icons/icon/icon.twig" %}
        {{ storyPreview.link.text }}
        {% if storyPreview.link.srText is defined %}
        <span class="sr-only">{{ storyPreview.link.srText }}</span>
        {% endif %}
      </div>
      {{ parent() }}
    {% endblock %}
  {% endembed %}
</a>

