{% set isLinkFullSize = storyPreview.link is defined and storyPreview.link and storyPreview.allClickable is defined and storyPreview.allClickable == true %}
{% set hasSrText = storyPreview.link.srText is defined and storyPreview.link.srText is not empty %}

{% if isLinkFullSize %}
  <a href="{{ storyPreview.link.url }}" class="osg-story-preview {{ storyPreview.variant | default(null) }} {{ storyPreview.modifiers | default(null) }}">
{% else %}
  <div class="osg-story-preview {{ storyPreview.variant | default(null) }} {{ storyPreview.modifiers | default(null) }}">
{% endif %}
  <div class="osg-image">
    {% include 'atoms/decorators/shape/shape.twig' %}
  </div>
  {% embed 'molecules/content_display/content_box/content_box.twig' %}
    {% block head %}
      {{ parent() }}
    {% endblock %}
    {% block body %}
      {{ parent() }}
    {% endblock %}
    {% block footer %}
      {% if isLinkFullSize %}
        <div class="osg-extra-link">
          {% include "atoms/icons/icon/icon.twig" %}
          {{ storyPreview.link.text }}
          {% if hasSrText %}
            <span class="osg-sr-only">{{ storyPreview.link.srText }}</span>
          {% endif %}
        </div>
      {% endif %}
      {{ parent() }}
    {% endblock %}
  {% endembed %}
{% if isLinkFullSize %}
  </a>
{% else %}
  </div>
{% endif %}
