{% set isLinkFullSize = storyPreview.link is defined and storyPreview.link is not empty %}
{% set hasSrText = storyPreview.link.srText is defined and storyPreview.link.srText is not empty %}
{% set storyPreviewVariant = storyPreview.variant | default(null) %}
{% set storyPreviewModifiers = storyPreview.modifiers | default(null) %}

{% if isLinkFullSize %}
  <a href="{{ storyPreview.link.url }}" title="{{ storyPreview.link.title }}" class="osg-story-preview {{ storyPreviewVariant }} {{ storyPreviewModifiers }}">
{% else %}
  <div class="osg-story-preview {{ storyPreviewVariant }} {{ storyPreviewModifiers }}">
{% endif %}
  <div class="osg-story-preview__image">
    {% include 'atoms/decorators/shape/shape.twig' %}
  </div>
  {% embed 'molecules/content_display/content_box/content_box.twig' %}
    {% block content %}
    {% endblock %}
  {% endembed %}
{% if isLinkFullSize %}
  </a>
{% else %}
  </div>
{% endif %}
