<div class="osg-story-preview {{ storyPreview.variant | default(null) }} {{ storyPreview.modifiers | default(null) }}">
  <div class="osg-image">
    {% include 'atoms/decorators/shape/shape.twig' %}
  </div>
  {% embed 'molecules/content_display/content_box/content_box.twig' %}
    {% block head %}
      {{ parent() }}
    {% endblock %}
    {% block body %}
      {{ parent() }}
    {% endblock %}
    {% block footer %}
      {{ parent() }}
    {% endblock %}
  {% endembed %}
</div>
