{% set hasTitleText = header.title.text is defined and header.title.text is not empty %}
{% set hasTitleTitle = header.title.title is defined and header.title.title is not empty %}
{% set hasTitleUrl = header.title.url is defined and header.title.url is not empty %}
{% set hasParentLinkText = header.parentLink.text is defined and header.parentLink.text is not empty %}
{% set hasParentLinkTitle = header.parentLink.title is defined and header.parentLink.title is not empty %}

<header class="osg-header {{ header.variant | default('osg-v-default')  }} {{ header.modifiers | default(null) }}">
  {% include 'molecules/navigation/navbar_menu/navbar_menu.twig' with { navbarMenu: header.navbarMenu } %}
  <div class="osg-header__title">
    {% if hasTitleText and hasTitleTitle and hasTitleUrl %}
    <h1 class="osg-text-is-size-4">
      <a href="{{ header.title.url }}" {% if header.title.title is defined %} title="{{ header.title.title }}" {% endif %}>
      {{ header.title.text }}
      </a>
    </h1>
    {% endif %}
  </div>
  {% if hasParentLinkText %}
  <div class="osg-header__link">
    <a href="{{ header.parentLink.url }}" {% if hasParentLinkTitle %} title="{{ header.parentLink.title }}" {% endif %}>
      <span>{{ header.parentLink.text|default(null) }}</span>
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
  {% endif %}
</header>
