{# Gamle ifs #}
{% set headerVariant = header.variant | default('osg-v-default') %}
{% set headerModifiers = header.modifiers | default(null) %}

{# Nye #}
{% set hasHeaderLogo = header.hasLogo is defined and header.hasLogo == true %}
{% set hasHeaderSearchbar = header.searchBar is defined and header.searchBar == true %}
{% set hasHeaderNavbarMenu = navbarMenuServices.menuButton is defined and navbarMenuServices is not empty %}
{% set iconModifiers = icon.modifiers | default('osg-u-icon-user') %}
{% set searchBarModifiers = searchBar.modifiers | default(null) %}
{% set headerLogo = header.logo | default('/assets/images/oslo_logo.svg') %}

{# Twigfilen #}
<header class="osg-header {{ headerVariant }} {{ headerModifiers }}">
  <div class="osg-header__navbar-left">
    {% if hasHeaderLogo %}
      <img src={{ headerLogo }} alt="Oslo Logo" />
    {% endif %}
    
    {% if hasHeaderSearchbar %}
      {% include 'molecules/search/search_bar/search_bar.twig' %}
    {% endif %}
  </div>

  {% if hasHeaderNavbarMenu %}
    <div class="osg-header__navbar-right">
      {% include 'molecules/navigation/navbar_menu_services/navbar_menu_services.twig' with { button: searchBarButton, textField: searchBarTextField } %}

      {% embed 'atoms/links/link_button/link_button.twig' %}
        {% block content %}
          <span class="osg-u-text-4">{{ linkButton.title }}</span>
        {% endblock %}
      {% endembed %}

      <a class="osg-header__login">
        <span class="osg-u-text-4 osg-header__login-title">
          {{ myPage.title }}
        </span>
        {% include 'atoms/icons/icon/icon.twig' with { modifiers: icon.modifiers } %}
      </a>
    </div>
  {% endif %}

</header>
