{% set bylineModifiers = byline.modifiers | default(null) %}

<div class="osg-byline {{ bylineModifiers }}">
  {{ byline.term }}:
  {% for organizer in byline.organizers %}
    <a href="{{ organizer.link }}">{% if loop.last %}
      {{ organizer.name }}</a>
    {% elseif loop.revindex < 3 %}
      {{ organizer.name }}</a> {{ byline.lastCombiner }}
    {% else %}
      {{ organizer.name }}</a>,
    {% endif %}
  {% endfor %}
</div>
