{% set hasSubtitlesUrl = video.subtitlesUrl is defined and video.subtitlesUrl is not empty %}
{% set videoVariant = video.variant | default('osg-v-default') %}
{% set videoModifiers = video.modifiers | default(null) %}

<div class="osg-video {{ videoVariant }} {{ videoModifiers }}">
{% if video.variant is defined and video.variant == "osg-v-video-custom-controls" %}
  <button class="osg-video__btn-overlay-play">
    <div class="osg-video__overlay-play"></div>
    <span class="osg-sr-only">{{ video.playBtnText}}</span>
  </button>
{% endif %}
  <video id="video"
    {{ video.variant is defined and video.variant == "osg-v-default" ? "controls" : "" }}
    preload="auto"
    {% if video.posterUrl %}
      poster="{{ video.posterUrl }}"
    {% endif %}
    >
    <source
      src="{{ video.videoUrl }}"
      type="video/mp4">
    <track
      label="Norsk"
      kind="subtitles"
      srclang="nb"
      {% if hasSubtitlesUrl %}
        src="{{ video.subtitlesUrl }}"
      {% endif %}
      default>
  </video>
  <div class="osg-video__footer">{{ video.footer }}</div>
</div>
