<div class="osg-video {{ video.variant | default('osg-v-default')  }} {{ video.modifiers | default(null) }}">
{% if video.variant is defined and video.variant == "osg-v-video-custom-controls" %}
  <button class="btn-overlay-play">
    <div class="overlay-play"></div>
    <span class="osg-sr-only">{{ video.playBtnText}}</span>
  </button>
{% endif %}
  <video id="video"
    {{ video.variant is defined and video.variant == "osg-v-default" ? "controls" : "" }}
    preload="auto"
    {% if video.posterUrl %}
      poster="{{ video.posterUrl }}"
    {% endif %}
    >
    <source
      src="{{ video.videoUrl }}"
      type="video/mp4">
    <track
      label="Norsk"
      kind="subtitles"
      srclang="nb"
      src="{{ video.subtitlesUrl }}"
      default>
  </video>
  <div class="footer">{{ video.footer }}</div>
</div>
