{% set state = "osg-tag--" ~ tag.state | default('success') %}
{% set tagVariant = tag.variant | default('osg-v-default') %}
{% set tagModifiers = tag.modifiers | default(null) %}

<a href="{{ tag.url }}" class="osg-tag {{ tagVariant }} {{ state }} {{ tagModifiers }}">
  {{ tag.content }}
</a>
