{% set state = "osg-tag-" ~ tag.state | default('success') %}

<a href="{{ tag.url }}" class="osg-tag {{ tag.variant | default('osg-v-default') }} {{ state }} {{ tag.modifiers | default(null) }}">
  {{ tag.content }}
</a>
