{% set hasUrl = shape.url is defined and shape.url is not empty %}
{% set hasTitle = shape.title is defined and shape.title is not empty %}
{% set hasText = shape.text is defined and shape.text is not empty %}
{% set shapeVariant = shape.variant | default('osg-v-default') %}
{% set shapeModifiers = shape.modifiers | default(null) %}

{% set figureContent %}
  {% block figureContent %}{% endblock %}
{% endset %}

<div class="osg-shape {{ shapeVariant }} {{ shapeModifiers }}">
  {% if hasUrl %}
    <a href="{{ shape.url }}" {% if hasTitle %} title="{{ shape.title }}" {% endif %} target="_blank">
  {% endif %}

  {% if "osg-v-image" in shapeVariant %}
    {% embed 'atoms/decorators/figure/figure.twig' %}
      {% block content %}
        {{ figureContent }}
      {% endblock %}
    {% endembed %}
  {% endif %}
    {% if hasText %}
      <span>{{ shape.text }}</span>
    {% endif %}
    {% block content %}
    {% endblock %}

  {% if hasUrl %}
    </a>
  {% endif %}
</div>
