<div class="osg-content">
  <p>Use "-light" version on dark backgrounds.</p>
</div>
<div class="osg-state">
  {% for item in state.colors %}
    <div
      class="osg-state__item osg-state-{{ item.name }}">
      <h2 class="osg-u-heading-3">
        {{ item.name }}
      </h2>
      <ul class="osg-u-text-6">
        <li>.osg-state-{{ item.name }}</li>
        <li>.osg-state-bg-{{ item.name }}</li>
        <li>.osg-state-text-{{ item.name }}</li>
      </ul>
    </div>
  {% endfor %}
</div>


