{% set state = "osg-button-" ~ button.state | default('success') %}

{% if button.link is defined %}
<a
  href="{{ button.link }}"
  class="osg-button {{ button.variant | default('osg-v-default') }} {{ state }} {{ button.modifiers | default(null) }}"
  {% if button.dataattrs is defined %}
  {% for dataattr in button.dataattrs %}
  {{dataattr.key}}="{{dataattr.val}}"
  {% endfor %}
  {% endif %}
>
{% else %}
<button
  class="osg-button {{ button.variant | default('osg-v-default')  }} {{ state }}"
  {% if button.dataattrs is defined %}
  {% for dataattr in button.dataattrs %}
  {{dataattr.key}}="{{dataattr.val}}"
  {% endfor %}
  {% endif %}
>
{% endif %}
  {% if button.variant is defined and button.variant == "osg-v-circle" %}
  {% set shape = {
      "text": button.content,
      "variant": button.variant
    }
  %}
  {% include "atoms/decorators/shape/shape.twig" with shape %}
  {% endif %}
  {% if "osg-v-default" in button.variant | default('osg-v-default') %}
    {{ button.content }}
  {% endif %}
{% if button.link is defined %}
</a>
{% else %}
</button>
{% endif %}
