{% set buttonColor = "osg-button-" ~ button.color | default('red') %}
{% set buttonHasDataattrs = button.dataattrs is defined and button.dataattrs is not empty %}
{% set buttonVariant = button.variant | default('osg-v-default') %}
{% set buttonModifiers = button.modifiers | default(null) %}

<button
  class="osg-button {{ buttonVariant }} {{ buttonModifiers }} {{ buttonColor }}"
  {% if buttonHasDataattrs %}
    {% for dataattr in button.dataattrs %}
      {{ dataattr.key }}="{{ dataattr.val }}"
    {% endfor %}
  {% endif %}
>
  {% block content %}
  {% endblock %}
</button>
