{% set hasButton = button is defined and button is not empty %}
{% set hasAsteriskText = infoList.asteriskText is defined and infoList.asteriskText is not empty %}
{% set infoListModifiers = infoList.modifiers | default(null) %}

<div class="osg-info-list {{ infoListModifiers }}">
  <ul>
    {% for icon in infoList.icons.entries %}
    <li>
      {% include "atoms/icons/icon/icon.twig" with { variant: icon.variant } %}
      {% if icon.text is defined and icon.text is not empty %}
        <p>{{ icon.text|raw }}</p>
      {% endif %}

      {% set hasLinkText = icon.linkText is defined and icon.linkText is not empty %}
      {% set hasLink = icon.link is defined and icon.link is not empty %}

      {% if hasLinkText and hasLink %}
        <a href="{{ icon.link }}">{{ icon.linkText }}</a>
      {% endif %}
    </li>
    {% endfor %}
    {% if hasButton %}
      <li>
        {% embed "atoms/buttons/button/button.twig" %}
          {% block buttonContent %}
            {% if button.content is defined and button.content is not empty %}
              {{ button.content }}
            {% endif %}
          {% endblock %}
        {% endembed %}
      </li>
    {% endif %}
    {% if hasAsteriskText %}
    <li>
      <p>
        *{{ infoList.asteriskText }}
      </p>
    </li>
    {% endif %}
  </ul>
</div>
