<div class="osg-input osg-input-date">
  <label class="osg-input-date__label">
    {{ inputDate.label }}
    <input
            class="osg-input__input osg-input-date__input"
            type="date"
            aria-invalid="{{ inputDate.isInvalid }}"
            autocomplete="off"
            name="{{ inputDate.inputName }}"
            value="{{ inputDate.value }}"
            placeholder="{{ inputDate.placeholder }}"
            max="{{ inputDate.max }}"
            min="{{ inputDate.min }}"
    />
    <span class="osg-input-date__icon osg-icon osg-icon--calendar" aria-hidden="true"></span>
  </label>
</div>
