<div class="osg-shapeCard {{ shapeCard.variant | default('osg-v-default')  }} {{ shapeCard.modifiers | default(null) }}">
  <a class="osg-wrapper" href="{{ shapeCard.url }}" title="{{ figure.img.alt }}">
    <div class="osg-image-container" href="{{ shapeCard.url }}" aria-hidden="true">
      {% include "atoms/decorators/figure/figure.twig" %}
      {% if shapeCard.stateText is defined %}
      <div class="osg-state-text">{{ shapeCard.stateText }}</div>
      {% endif %}
    </div>
  </a>
  <div class="osg-box-shape-wrapper">
    {% embed 'molecules/content_display/content_box/content_box.twig' %}
      {% block head %}
        <a class="osg-wrapper" href="{{ shapeCard.url }}" aria-hidden="true">
          {{ parent() }}
        </a>
      {% endblock %}
      {% block body %}
        <a class="osg-wrapper" href="{{ shapeCard.url }}" aria-hidden="true">
          {{ parent() }}
        </a>
      {% endblock %}
      {% block footer %}
        <a class="osg-wrapper" href="{{ shapeCard.url }}" aria-hidden="true">
          {{ parent() }}
        </a>
        {% if tags is defined %}
          {% include 'molecules/navigation/tags/tags.twig' %}
        {% endif %}
        {% if shapeCard.searchResult is defined %}
          <a href="{{ shapeCard.url }}" class="osg-search-result">
            {{ shapeCard.searchResult | default(null) }}
          </a>
        {% endif %}
      {% endblock %}
    {% endembed %}
    {% include 'atoms/decorators/shape/shape.twig' %}
  </div>
</div>
