<div class="osg-content">
  <p>Official color palette</p>
</div>
<div class="osg-palette">
  {% for item in palette.colors %}
    <div
      class="osg-palette__item osg-color-bg-{{ item.name }} {{ item.dark|default(false) ? 'osg-dark' : 'osg-light' }}">
      <h2 class="osg-heading-3">
        {{ item.name }}
      </h2>
      <ul class="osg-text-6">
        <li class="osg-padding-bottom-2">{{ item.hex }}</li>
        <li>$osg-color-{{ item.name }}</li>
        <li>.osg-color-text-{{ item.name }}</li>
        <li>.osg-color-bg-{{ item.name }}</li>
      </ul>
    </div>
  {% endfor %}
</div>
<h2 class="osg-heading-2 osg-margin-top-5 osg-margin-bottom-2">Digital</h2>
<div class="osg-content">
  <p>Colors used only for digital purposes</p>
</div>
<div class="osg-palette">
  {% for item in digital.colors %}
    <div
      class="osg-palette__item osg-color-bg-{{ item.name }} {{ item.dark|default(false) ? 'osg-dark' : 'osg-light' }}">
      <h2 class="osg-heading-3">
        {{ item.name }}
      </h2>
      <ul class="osg-text-6">
        <li class="osg-padding-bottom-2">{{ item.hex }}</li>
        <li>$osg-color-{{ item.name }}</li>
        <li>.osg-color-text-{{ item.name }}</li>
        <li>.osg-color-bg-{{ item.name }}</li>
      </ul>
    </div>
  {% endfor %}
</div>

