{% set linkButtonColor = "osg-link-button--" ~ linkButton.color | default('red') %}
{% set linkButtonHasDataAttrs = linkButton.dataAttrs is defined and linkButton.dataAttrs is not empty %}
{% set linkButtonVariant = linkButton.variant | default('osg-v-default') %}
{% set linkButtonModifiers = linkButton.modifiers | default(null) %}
{% set linkButtonUrl = linkButton.url | default('#') %}

<a
  class="osg-link-button {{ linkButtonVariant }} {{ linkButtonModifiers }}"
   href="{{ linkButtonUrl }}"
  {% if linkButtonHasDataAttrs %}
    {% for dataAttr in linkButton.dataAttrs %}
      {{ dataAttr.key }}="{{ dataAttr.val }}"
    {% endfor %}
  {% endif %}
>
  {% block content %}
  {% endblock %}
</a>
