{% set hasCaption = figure.caption is defined and figure.caption is not empty %}
{% set hasStateText = event.stateText is defined and event.stateText is not empty %}
{% set eventModifiers = event.modifiers | default(null) %}

{% set eventListContent %}
   {% block listContent %}{% endblock %}
{% endset %}

<div class="osg-event {{ eventModifiers }}">
  {% block topContent %}
    <div class="osg-event__header">
      <h2 class="osg-u-heading-2">
        {{ event.heading }}
      </h2>
    </div>
  {% endblock %}
  <div class="osg-event__image">
    <div class="osg-event__image-container">
      {% include 'components/decorators/figure/figure.twig' %}
      {% if hasStateText %}
        <div class="osg-event__state-text osg-u-heading-1">
          {{ event.stateText }}
        </div>
      {% endif %}
    </div>
    <div class="osg-event__info osg-u-text-6">
      {% embed 'components/data_display/info_list/info_list.twig' %}
        {% block content %}
          {{ eventListContent }}
        {% endblock %}
      {% endembed %}
      {% if hasCaption %}
        <div class="osg-event__caption osg-u-text-6">
          {{ figure.caption }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
