{% set heroIsLinkFullSize = hero.link is defined and hero.link is not empty %}
{% set heroVariant = hero.variant | default(null) %}
{% set heroModifiers = hero.modifiers | default(null) %}

{% if heroIsLinkFullSize %}
  <a href="{{ hero.link.url }}" title="{{ hero.link.title }}" class="osg-hero {{ heroVariant }} {{ heroModifiers }}">
{% else %}
  <div class="osg-hero {{ heroVariant }} {{ heroModifiers }}">
{% endif %}
  <div class="osg-hero__image">
    {% include 'atoms/decorators/shape/shape.twig' %}
  </div>
  <div class="osg-hero__content">
    {% block content %}
    {% endblock %}
  </div>
{% if heroIsLinkFullSize %}
  </a>
{% else %}
  </div>
{% endif %}
