{% set heroIsLinkFullSize = hero.link is defined and hero.link is not empty %}
{% set heroVariant = hero.variant | default(null) %}
{% set heroModifiers = hero.modifiers | default(null) %}

{% set heroContent %}
   {% block content %}{% endblock %}
{% endset %}

{% if heroIsLinkFullSize %}
  <a href="{{ hero.link.url }}" title="{{ hero.link.title }}" class="osg-hero {{ heroVariant }} {{ heroModifiers }}">
{% else %}
  <div class="osg-hero {{ heroVariant }} {{ heroModifiers }}">
{% endif %}
  <div class="osg-hero__image">
    {% include 'atoms/decorators/shape/shape.twig' %}
  </div>
  {% embed 'molecules/content_display/content_box/content_box.twig' %}
    {% block content %}
     {{ heroContent }}
    {% endblock %}
  {% endembed %}
{% if heroIsLinkFullSize %}
  </a>
{% else %}
  </div>
{% endif %}
