{% set state = text.state is defined ? "osg-text-field-" ~ text.state : null %}

<div class="osg-text-field {{ text.variant | default('osg-v-default') }} {{ state is defined ? state : null }} {{ text.modifiers | default(null) }}">
  <input
    class="osg-text-field-input"
    id="{{ text.id }}"
    name="{{ text.name }}"
    type="text"
    required
    placeholder="{{ text.placeholder }}" />
  <label class="osg-text-field-label" for="{{ text.id }}">
    {{ text.placeholder }}
  </label>
</div>
