{% set state = text.state is defined ? "osg-text-field-" ~ text.state : null %}
{% set textVariant = text.variant | default('osg-v-default') %}
{% set textModifiers = text.modifiers | default(null) %}

<div class="osg-text-field {{ textVariant }} {{ state }} {{ textModifiers }}">
  <input
    class="osg-text-field__input"
    id="{{ text.id }}"
    name="{{ text.name }}"
    type="text"
    required
    placeholder="{{ text.placeholder }}" />
  <label class="osg-text-field__label" for="{{ text.id }}">
    {{ text.placeholder }}
  </label>
</div>
