{% set alertHasContent = alert.content is defined and alert.content is not empty %}
{% set alertHasUpdated = alert.updated is defined and alert.updated is not empty %}
{% set alertHasButton = button is defined and button is not empty %}
{% set alertVariant = alert.variant|default('osg-v-default') %}
{% set alertModifiers = alert.modifiers | default(null) %}
{% set alertState = 'osg-alert--' ~ alert.state | default('default') %}

<div class="osg-alert {{ alertVariant }} {{ alertModifiers }} {{ alertState }}">
  {% block head %}
    <button
      class="osg-alert__trigger"
      aria-haspopup="true"
      aria-expanded="false"
      aria-label="{{ alert.ariaLabel | default('Viktig melding') }}"
      role="alertdialog"
    >
      <h2 class="osg-alert__heading">
        {{ alert.heading }}
      </h2>
      {% if alertHasUpdated %}
        <div class="osg-alert__updated">
          {{ alert.updated.text | default(null) }}
          {{ alert.updated.date | default(null) }}
        </div>
      {% endif %}
    </button>
  {% endblock %}
  {% block body %}
  {% endblock %}
  {% block footer %}
    {% if alertHasContent %}
      <div class="osg-alert__overlay-wrapper">
        <div class="osg-alert__overlay">
          <div class="osg-alert__overlay-top">
            <div class="osg-alert__white-space" aria-hidden></div>
            {% if alertHasButton %}
              {% include 'atoms/buttons/button/button.twig' %}
            {% endif %}
          </div>
          <div class="osg-content">
            {{ alert.content | raw }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock %}
</div>
