{% set alertHasButton = button is defined and button is not empty %}
{% set alertVariant = alert.variant|default('osg-v-default') %}
{% set alertModifiers = alert.modifiers | default(null) %}
{% set alertState = 'osg-alert--state-' ~ alert.state | default('default') %}
{% set alertButtonHasDataAttrs = alert.dataAttrs is defined and alert.dataAttrs is not empty %}

<div class="osg-alert {{ alertVariant }} {{ alertModifiers }} {{ alertState }}">
  <a
    role="button"
    class="osg-alert__trigger"
    aria-haspopup="true"
    aria-expanded="false"
    aria-label="{{ alert.buttonAriaLabel }}"
    {% if alertButtonHasDataAttrs %}
      {% for dataAttr in alert.dataAttrs %}
        {{ dataAttr.key }}="{{ dataAttr.val }}"
      {% endfor %}
    {% endif %}
  >
    {% block content %}
    {% endblock %}
  </a>
  <div class="osg-alert__overlay-wrapper" role="alertdialog" aria-modal="true">
    <div class="osg-alert__overlay">
      <div class="osg-alert__overlay-top">
        <div class="osg-alert__white-space"></div>
        {% if alertHasButton %}
          {% embed 'atoms/buttons/button/button.twig' %}
            {% block content %}
              <span class='osg-icon osg-icon--{{ alert.closeButtonIcon | default('x') }}'>
                <span class='osg-sr-only'>{{ alert.closeButtonSrText }}</span>
              </span>
            {% endblock %}
          {% endembed %}
        {% endif %}
      </div>
      <div class="osg-alert__content osg-content">
        {% block message %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
