{% set hasHeaderTag = event.headerTag is defined and event.headerTag is not empty %}
{% set hasCaption = figure.caption is defined and figure.caption is not empty %}
{% set hasStateText = event.stateText is defined and event.stateText is not empty %}
{% set eventModifiers = event.modifiers | default(null) %}

<div class="osg-event {{ eventModifiers }}">
  {% block head %}
    <div class="osg-event-header">
      <h2>
        {{ event.heading }}
        {% if hasHeaderTag %}
          <span>{{ event.headerTag }}</span>
        {% endif %}
      </h2>
      {% include "molecules/navigation/tags/tags.twig" %}
    </div>
  {% endblock %}
  {% block body %}
    <div class="osg-event-image">
      <div class="osg-image-container">
        {% include "atoms/decorators/figure/figure.twig" %}
        {% if hasStateText %}
          <div class="osg-state-text">{{ event.stateText }}</div>
        {% endif %}
      </div>
      <div class="osg-event-info">
        {% include "molecules/data_display/info_list/info_list.twig" %}
        {% if hasCaption %}
          <div class="osg-event-caption">
            {{ figure.caption }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endblock %}
  {% block footer %}
  {% endblock %}
</div>
