{% set hasAlertData = alert is defined and alert is not empty %}
<div class="osg-content-box {{ contentBox.variant | default('osg-v-default')  }} {{ contentBox.modifiers | default(null) }}">
  {% if hasAlertData %}
    {% include "atoms/messages/alert/alert.twig" %}
  {% endif %}
  <div class="osg-container">
    {% block head %}
      {% if contentBox.tag is defined %}
        <div class="osg-content-box-tag">
          <h3>{{ contentBox.tag }}</h3>
        </div>
      {% endif %}
      {% if contentBox.date is defined %}
        <p class="osg-date">{{ contentBox.date }}</p>
      {% endif %}
    {% endblock %}
    {% block body %}
      {% if contentBox.heading is defined %}
        <h2 class="osg-body-heading">{{ contentBox.heading }}</h2>
      {% endif %}
      {% if contentBox.text is defined %}
        <p class="osg-body-text">{{ contentBox.text }}</p>
      {% endif %}
    {% endblock %}
    {% block footer %}
      {% if contentBox.content is defined %}
        <div class="osg-content">
          {{ contentBox.content | raw }}
        </div>
      {% endif %}
      {% if contentBox.link is defined %}
        <a class="osg-extra-link" href="{{ contentBox.link.url }}">
          {% include "atoms/icons/icon/icon.twig" %}
          {{ contentBox.link.text }}
          {% if contentBox.link.srText is defined %}
            <span class="sr-only">{{ contentBox.link.srText }}</span>
          {% endif %}
        </a>
      {% endif %}
    {% endblock %}
  </div>
</div>
