<div class="osg-list-card {{ listCard.modifiers | default(null) }}">
  <a href="{{ listCard.url }}" title="{{ figure.img.alt }}">
    {% include 'atoms/decorators/shape/shape.twig' %}
    {% if listCard.stateText is defined %}
      <div class="osg-state-text">{{ listCard.stateText }}</div>
    {% endif %}
  </a>
  {% embed 'molecules/content_display/content_box/content_box.twig' %}
    {% block head %}
      <a class="osg-wrapper" href="{{ listCard.url }}">
        {{ parent() }}
      </a>
    {% endblock %}
    {% block body %}
      <a class="osg-wrapper" href="{{ listCard.url }}">
        {{ parent() }}
      </a>
    {% endblock %}
    {% block footer %}
      {% if tags is defined %}
        {% include 'molecules/navigation/tags/tags.twig' %}
      {% endif %}
      {% if listCard.searchResult is defined %}
        <a href="{{ listCard.url }}" class="osg-search-result">
          {{ listCard.searchResult | default(null) }}
        </a>
      {% endif %}
    {% endblock %}
  {% endembed %}
</div>