{% set hasStateText = listCard.stateText is defined and listCard.stateText is not empty %}
{% set hasSearchResult = listCard.searchResult is defined and listCard.searchResult is not empty %}
{% set listCardModifiers = listCard.modifiers | default(null) %}

<div class="osg-list-card {{ listCardModifiers }}">
  <a href="{{ listCard.url }}">
    {% include 'atoms/decorators/shape/shape.twig' %}
    {% if hasStateText %}
      <div class="osg-list-card__state-text">{{ listCard.stateText }}</div>
    {% endif %}
  </a>
  {% embed 'molecules/content_display/content_box/content_box.twig' %}
    {% block content %}
      {% if hasSearchResult %}
        <a href="{{ listCard.url }}" class="osg-list-card__search-result">
          {{ listCard.searchResult | default(null) }}
        </a>
      {% endif %}
    {% endblock %}
  {% endembed %}
</div>
