{% set linkButtonHasDataAttrs = linkButton.dataAttrs is defined and linkButton.dataAttrs is not empty %}
{% set linkButtonVariant = linkButton.variant | default('osg-v-default') %}
{% set linkButtonModifiers = linkButton.modifiers | default('osg-button--blue-dark') %}
{% set linkButtonUrl = linkButton.url | default('#') %}

<a
  class="osg-button {{ linkButtonVariant }} {{ linkButtonModifiers }}"
   href="{{ linkButtonUrl }}"
  {% if linkButtonHasDataAttrs %}
    {% for dataAttr in linkButton.dataAttrs %}
      {{ dataAttr.key }}="{{ dataAttr.val }}"
    {% endfor %}
  {% endif %}
>
  {% block content %}
  {% endblock %}
</a>
