{% set hasTitle = icon.title is defined and icon.title is not empty %}
{% set hasText = icon.text is defined and icon.text is not empty %}
{% set hasTextVisible = icon.textVisible is defined and icon.textVisible is not empty %}
{% set iconModifiers = icon.modifiers | default(null) %}

<a class="osg-social-icon {{ iconModifiers }}" href="{{ icon.url }}" {% if hasTitle %} title="{{ icon.title }}" {% endif %} target="_blank">
  <div>
      {{ icon.brand|raw }}
  </div>
  {% if hasText and hasTextVisible %}
    <span class="osg-icon-text {{ (icon.textVisible == true) ? '' : 'osg-sr-only' }}">
    {{ icon.text }}
  </span>
  {% endif %}
</a>
