{% set hasCiteSource = quote.citeSource is defined and quote.citeSource is not empty %}
{% set hasCite = quote.cite is defined and quote.cite is not empty %}

<blockquote class="osg-quote {{ quote.modifiers | default(null) }}" {% if hasCiteSource %} cite="{{quote.citeSource}}" {% endif %}>
  {{quote.text}}

  {% if hasCite %}
    <footer>
      {% if hasCiteSource and quote.linkToCitation == true  %}
        <a href="{{ quote.citeSource }}">
      {% endif %}
        <cite>{{ quote.cite }}</cite>
      {% if hasCiteSource  %}
        </a>
      {% endif %}
    </footer>
  {% endif %}
</blockquote>
