<blockquote class="osg-quote {{ quote.modifiers | default(null) }}" {% if quote.citeSource is defined %} cite="{{quote.citeSource}}" {% endif %}>
  {{quote.text}}

  {% if quote.cite is defined %}
    <footer>
      {% if quote.citeSource is defined and quote.linkToCitation == true  %}
        <a href="{{ quote.citeSource }}">
      {% endif %}
        <cite>{{ quote.cite }}</cite>
      {% if quote.citeSource is defined  %}
        </a>
      {% endif %}
    </footer>
  {% endif %}
</blockquote>
