{% set componentHasAttrs = component.attrs is defined and component.attrs is not empty %}
{% set componentModifiers = component.modifiers.split(' ') | default([]) %}
{% set componentClasses = ['osg-tag']|merge(componentModifiers) %}

<a href="{{ component.url }}"
  class="{{ componentClasses|join(' ') }}"
  {% if componentHasAttrs %}
    {% for attr in component.attrs %}
      {{ attr.key }}="{{ attr.val }}"
    {% endfor %}
  {% endif %}>
  {{ component.content }}
</a>
