<div class="osg-countdown {{ countdown.modifiers | default(null) }}">
  <h2>{{ countdown.text }}</h2>
  <div class="osg-timing">
    <div class="osg-days">
      <span>{{ countdown.numberOfDays }}</span>
      <span>{{ countdown.daysLabel }}</span>
    </div>
    <div class="osg-hours">
      <span>{{ countdown.numberOfHours }}</span>
      <span>{{ countdown.hoursLabel }}</span>
    </div>
    <div class="osg-minutes">
      <span>{{ countdown.numberOfMinutes }}</span>
      <span>{{ countdown.minutesLabel }}</span>
    </div>
    <div class="osg-seconds">
      <span>{{ countdown.numberOfSeconds }}</span>
      <span>{{ countdown.secondsLabel }}</span>
    </div>
  </div>
</div>
