{% set hasMediaQueryUrls = figure.img.mediaQueryUrls is defined and figure.img.mediaQueryUrls is not empty %}
{% set hasLink = figure.link is defined and figure.link is not empty %}
{% set hasCaption = figure.caption is defined and figure.caption is not empty %}
{% set figureVariant = figure.variant | default('osg-v-default') %}
{% set figureModifiers = figure.modifiers | default(null) %}

<figure class="osg-figure {{ figureVariant  }} {{ figureModifiers }}">
  <picture>
    {% if hasMediaQueryUrls %}
      {% for img in figure.img.mediaQueryUrls %}
        <source srcset="{{ img.url }}" media="({{ img.query }})" />
      {% endfor %}
    {% endif %}

    {% if hasLink %}
      <a href="{{ figure.link.url | default('#') }}"
        target="{{ figure.link.target | default('_self') }}">
    {% endif %}
      <img src="{{ figure.img.defaultUrl }}" alt="{{ figure.img.alt }}" />
    {% if hasLink %}
      </a>
    {% endif %}
  </picture>

  {% if hasCaption %}
    <figcaption class="osg-figcaption osg-u-text-7">
      {{ figure.caption }}
    </figcaption>
  {% endif %}

  {% block content %}
  {% endblock %}
</figure>
