{% set textFieldstate = textField.state is defined ? "osg-text-field-" ~ textField.state : null %}
{% set textFieldValue = textField.value | default(null) %}
{% set textFieldVariant = textField.variant | default('osg-v-default') %}
{% set textFieldModifiers = textField.modifiers | default(null) %}
{% set textFieldAutocomplete = textField.autocomplete | default('on') %}

<div class="osg-text-field {{ textFieldVariant }} {{ textFieldstate }} {{ textFieldModifiers }}">
  <input
    class="osg-text-field__input osg-u-text-5"
    id="{{ textField.id }}"
    name="{{ textField.name }}"
    type="text"
    value="{{ textField.value }}"
    required
    {% if textFieldVariant == 'osg-v-default' %}
      placeholder="{{ textField.placeholder }}"
      title="{{ textField.placeholder }}"
    {% endif %}
    autocomplete="{{ textFieldAutocomplete }}"/>
  {% if textFieldVariant == 'osg-v-floating-label' %}
    <label class="osg-text-field__label osg-u-text-5" for="{{ textField.id }}">
      {{ textField.placeholder }}
    </label>
  {% endif %}
</div>
