{% set state = textField.state is defined ? "osg-text-field-" ~ textField.state : null %}
{% set textVariant = textField.variant | default('osg-v-default') %}
{% set textModifiers = textField.modifiers | default(null) %}

<div class="osg-text-field {{ textVariant }} {{ state }} {{ textModifiers }}">
  <input
    class="osg-text-field__input"
    id="{{ textField.id }}"
    name="{{ textField.name }}"
    type="text"
    required
    placeholder="{{ textField.placeholder }}" />
  <label class="osg-text-field__label" for="{{ textField.id }}">
    {{ textField.placeholder }}
  </label>
</div>
