{% set expandBoxVariant = expandBox.variant | default('osg-v-default') %}
{% set expandBoxModifiers = expandBox.modifiers | default(null) %}

{% set expandBoxContent %}
   {% block content %}{% endblock %}
{% endset %}

<div class="osg-expand-box {{ expandBoxVariant }} {{ expandBoxModifiers }}">
  <div class="osg-expand-box__title-line">
    <div class="osg-expand-box__title-line-text">
      {% block titleContent %}
      {% endblock %}
    </div>
    {% embed 'atoms/buttons/button/button.twig' %}
      {% block content %}
        <i class='osg-u-icon-{{ expandBox.buttonIcon | default('chevron-down') }}'></i>
      {% endblock %}
    {% endembed %}
  </div>
  <div class="osg-expand-box__content" id="{{ expandBox.expandableAreaId }}">
    {% embed 'molecules/content_display/content_box/content_box.twig' %}
      {% block content %}
        {{ expandBoxContent }}
      {% endblock %}
    {% endembed %}
  </div>
</div>
